<form [formGroup]="modelConfigForm" id="form" (ngSubmit)="modify()">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Proveedor</nb-card-header>
        <nb-card-body>
          <nb-select
            formControlName="id"
            placeholder="{{ modelConfig.supplier }}"
            (selectedChange)="selectChange($event)"
          >
            <nb-option
              *ngFor="let modelConfig of modelConfigs"
              [value]="modelConfig.id"
              >{{ modelConfig.supplier }}</nb-option
            >
          </nb-select>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Configuración</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputReviewPeriod" class="label"
                  >Periodo de Revisión (días)</label
                >
                <input
                  formControlName="reviewPeriod"
                  type="number"
                  nbInput
                  fullWidth
                  id="inputReviewPeriod"
                  placeholder="{{ modelConfig.reviewPeriod }}"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDeliveryTime" class="label"
                  >Tiempo de entrega (días)</label
                >
                <input
                  formControlName="deliveryTime"
                  type="number"
                  nbInput
                  fullWidth
                  id="inputDeliveryTime"
                  placeholder="{{ modelConfig.deliveryTime }}"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="lastDelivery" class="label"
                  >Fecha de última entrega</label
                >
                <input
                  [formControl]="lastDelivery"
                  nbInput
                  placeholder="Form Picker"
                  id="lastDelivery"
                  placeholder="{{ modelConfig.lastDelivery }}"
                  [nbDatepicker]="formpicker"
                />
                <nb-datepicker #formpicker></nb-datepicker>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group"></div>
            </div>
          </div>
          <button
            nbButton
            type="submit"
            status="primary"
            size="medium"
            [nbSpinner]="loadingButton"
            nbSpinnerStatus="primary"
            nbSpinnerSize="tiny"
            nbSpinnerMessage=""
          >
            Modificar
          </button>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-6"></div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
  </div>
</form>
